# 图像模型工具
timm==0.4.12
einops
fvcore
transformers

# 科学计算
numpy==1.26.4
scipy>=1.7.0

# 图像处理
Pillow
opencv-python>=4.5.0

# 实用工具
easydict>=1.9
packaging
tqdm>=4.40.0
pytest
chardet
yacs
termcolor
submitit
seaborn

# Web 服务
fastapi
uvicorn
python-multipart

# 日志
tensorboardX>=2.2